.toggle-app {}

.toggle-btn {
  cursor: pointer;
  padding: 10px 20px;
  background: none;
  border: 1px solid #333;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  width: 150px;
  outline: none;
}
